@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffc045;
  --secondary-color: #065471;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffc045;
    --secondary-color: #065471;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
